name: Build & Test
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    build:
        name: Running build
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                ci-env:
                    - '1'
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'pnpm'
            - name: Install
              run: pnpm install
            - name: Running build
              run: pnpm build
    lint:
        name: Running linters
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                ci-env:
                    - '1'
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'pnpm'
            - name: Install
              run: pnpm install
            - name: Running linter
              run: pnpm lint
    test:
        name: Running tests
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                ci-env:
                    - '1'
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'pnpm'
            - name: Install
              run: pnpm install
            - name: Running tests
              run: pnpm test
